UID=1000
GID=1000

MYSQL_DATABASE=laravel
MYSQL_USER=laravel
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root

HTTP_PORT=80
PROD_MYSQL_DATABASE=ticket_manager
PROD_MYSQL_USER=ticket_manager
PROD_MYSQL_PASSWORD=change-me
PROD_MYSQL_ROOT_PASSWORD=change-me-root
