.env
.env.*
!.env.development.example
!.env.production.example
auth.json
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/database.sqlite
.phpunit.result.cache
.phpunit.cache
.phpactor.json
_ide_helper.php
